.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu a {
  background-color: #d9534f;
  color: black;
  border-radius: 0;
  margin: 0;
}
